<div class="card">
  <div class="card-block">
    <img class="bg" src="./assets/images/school5.jpg">
    <img class="default" src="assets/images/profile-default.png">
    <br>
    <h5>
      <strong>Посада:</strong> вчитель початкових класів
    </h5>
    <h5>
      <strong>Категорія:</strong> вища
    </h5>
    <h5>
      <strong>Освіта:</strong> вища
    </h5>
    <h5><strong>Стаж роботи:</strong> {{workPeriod}}</h5>
    <h5><strong>Дата народження:</strong> 20 березня 1970</h5>
    <h5><strong>Освіта:</strong> 1993 РДГУ</h5>
    <h5><strong>Cпеціальність:</strong> «Початкове навчання, біологія»</h5>
    <h5><strong>Кредо:</strong></h5>
    <pre>
      “Якщо хочеш виховати в дітях сміливість <br>розуму, самостійність як особистісну <br>рису, то створи такі умови, щоб спалахи їх думок утворювали царство думки, дай їм можливість відчути себе в ньому<br> володарями. ”
        <mark>Ш. Амонашвілі</mark>
    </pre>
  </div>
</div>
